@tailwind base;
@tailwind components;
@tailwind utilities;

import "@headlessui/react/styles.css";

body {
  @apply font-sans;
  /* Apply the Lato font globally */
}

:root {
  --primary: #1e3a8a;
  --secondary: #9ca3af;
  --accent: #f59e0b;
  --background: #f9fafb;
  --text: #111827;
}

/* Use CSS variables */
.bg-background {
  background-color: var(--background);
}

.text-text {
  color: var(--text);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-accent {
  background-color: var(--accent);
}